.wrapper {
    padding: 24px calc(var(--grid-margin) + 40px);
}
.grid.attachments {
    display: flex;
    justify-content: center;
    background-color: var(--blue-3);
    padding: 33px;
    width: 100%;

}

.section-heading {
    display: flex;
    text-align: center;
    color: var(--blue-warm-vivid-80);
    height: 55px;
    width: 100%;
    justify-content: center;
    
}

.download-attachment {
    filter: invert(21%) sepia(60%) saturate(2546%) hue-rotate(204deg) brightness(100%) contrast(94%);
    width: 15px;
    height: 15px;
}

.card.br-card--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 24px;
    background-color: var(--blue-3);
    justify-content: center; 
}

.card.br-card--list .br-card--list__data{
    border-radius: 10px;
    align-items: center;
}

.section.documents {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section.documents .card {
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.br-card--list__heading.heading6 {
    display: block;
    align-items: center;
    align-content: center;
    text-transform: none;
    color: var(--Blue-Warm-Vivid-blue-warm-vivid-70, #1351B4);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    white-space: nowrap;

    @media (max-width: 400px) {
        max-width: 100px;
    }
}

.br-card--list__item {
    min-width: 200px;
    display: flex;
    border-radius: 10px;
    background-color: var(--blue-3);
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--blue-warm-vivid-80);
    gap: 12px;
}

.br-card--list__text {
    display: flex;
    padding: 0px;
    max-height: 40px;
    text-align: center;
    align-items: center;
    color: var(--Blue-Warm-Vivid-blue-warm-vivid-70, #1351B4);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.br-card--list__data__icon{
    display: flex;
    align-items: center;
}

.br-message.info {
    margin-top: 20px;
}

.card__link{
    display: flex;
    align-items: center;
}

small {
    text-transform: lowercase;
    text-align: left;
}

.grid.attachments.images {
    background-color: white;
}

.section.images h3 {
    font-style: normal;
    font-weight: 600;
}