<% add_decidim_meta_tags(title: t("assemblies.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_assemblies.assemblies_path,
  :read,
  :assembly_list
)
%>

<%= participatory_space_wrapper do %>
  <% if promoted_assemblies.any? %>
    <section id="highlighted-assemblies" class="row section">
      <h1 class="section-heading"><%= t("assemblies.index.promoted_assemblies", scope: "layouts.decidim") %></h1>
      <%= render partial: "promoted_assembly", collection: promoted_assemblies, as: :promoted_assembly %>
    </section>
  <% end %>

  <%= render partial: "parent_assemblies" %>


  <%=begin%>
 <% if current_assemblies_settings.enable_organization_chart %>
    <section id="assemblies-chart" class="row column section">
      <div class="row column">
        <h3 class="section-heading"><%= t("assemblies.index.organizational_chart", scope: "layouts.decidim") %></h3>
        <div id=" orgchart-<%= SecureRandom.hex(5) %>" class="card orgchart js-orgchart absolutes" data-url="<%= decidim_assemblies.assemblies_path(format: :json) %>">
          <button class="medium-1 m-s top left button small hollow invisible js-reset-orgchart"><%= t("assemblies.index.reset_chart", scope: "layouts.decidim") %></button>
        </div>
      </div>
    </section>
  <% end %>
<%
=end%>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_assemblies" %>
<% end %>
