<div class="column card__animation" id="<%= dom_id(model) %>">
  <div class="card <%= card_classes %>">
    <%= render :label if has_label? %>
    <%= render :top if render_top? %>
    <%= render :image if has_image? %>
    <div class="card__content">
      <%= render :header if has_header? %>

      <div class="card__text">
        <div class="card__text--paragraph">
          <%= render :badge if has_badge? %>
          <%= Decidim::ContentProcessor.render(description, "div") %>
        </div>
      </div>

      <%= render :tags %>
    </div>

    <%= render :data %>
    <%= render :footer %>
  </div>
</div>


