<div class="br-card--list__item">
  <div class="br-card--list__text">
    <div>
      <a href="<%= document.url %>" class="card__link" target="_blank">
        <span class="br-card--list__heading heading6">
          <%= attachment_title(document)%>
        </span>
        <small>.<%= document.file_type %>&nbsp;(<%= number_to_human_size(document.file_size) %>)</small>
      </a>
    </div>
  </div>
  <div class="br-card--list__data">
    <%= link_to document.url, target: "_blank", rel: "noopener", class: "br-card--list__data__icon", title: t("decidim.application.document.download") do %>
        <img class="download-attachment" src="/assets/download_icon.svg"/>
    <% end %>
  </div>
</div>
